
/* http://getbootstrap.com/css/ */


/*

html { 
  background: url((https://source.unsplash.com/random) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*/

/* ^^^ was adding that a good idea? ^^^ */

body {
	/* Extra small devices */

	background-color: gray;


/* CSS JQUERY MENU */


/*----- Toggle Button -----*/
.toggle-nav {
    display:none;
}
 
/*----- Menu -----*/
@media screen and (min-width: 860px) {
    .menu {
        width:100%;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
    }
}
 
.menu ul {
    display:inline-block;
}
 
.menu li {
    margin:0px 50px 0px 0px;
    float:left;
    list-style:none;
    font-size:17px;
}
 
.menu li:last-child {
    margin-right:0px;
}
 
.menu a {
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    color:#green;
    transition:color linear 0.15s;
}
 
.menu a:hover, .menu .current-item a {
    text-decoration:none;
    color:#66a992;
}
 
 
/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}
 
@media screen and (max-width: 970px) {
    .search-form input {
        width:120px;
    }
}
 
@media screen and (max-width: 860px) {
    .menu {
        position:relative;
        display:inline-block;
    }
 
    .menu ul.active {
        display:none;
    }
 
    .menu ul {
        width:100%;
        position:absolute;
        top:120%;
        left:0px;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
    }
 
    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }
 
    .menu li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }
 
    .menu a {
        display:block;
    }
 
    .toggle-nav {
        padding:20px;
        float:left;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#777;
        font-size:20px;
        transition:color linear 0.15s;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }
 
}

/* END JQUERY MENU */



.container {
	/*	position: relative; used to be absolute */ 
	left: 0;
	right: 0;
}





.masthead {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;  /* how do i remove horizontal scrollbarr? */ 
	height: 365px;
	background: url(https://source.unsplash.com/random) no-repeat left top;
	background-size: cover;
	top: 0;
	z-index: 1;
}

.content {
	margin: 0 0 0 27px;
		margin-top: 140px;
	margin-bottom: 42px; 
	color: #fff;
	text-align: center;
	font-size: 1.8em;
	opacity: .5;
	text-transform: none;
}

.mini-header {
	opacity: 0;
	height: 1px;
	width: 2px;
}



.button {
	cursor: pointer;
	margin: 10px;
	border-radius: 0px;
	text-align: center;
	text-decoration: none;
	    font-size: 15px; /* was 15px */ 
	transition: 0s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	display: inline-block;  /* this is important to keep */
	padding: 12px 29px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: white;
	text-transform: uppercase;
	opacity: .5;
}

.button-clr {
	color: white;
	border: transparent;
}



.button:hover {
	color: black;
	transition:0s;
	background: transparent;
	text-decoration: none;
	outline: none;
}

.button-clr:hover {
	color: black;
	transition:0s;
	background: transparent;
	text-decoration: none;
	outline: none;

}

.grid_section {
	margin-top:30px;
	margin-left: 16px;
}

.tile {
opacity:1.0;
display: inline-block;
background-color: #16a085;
height: 298.52px;
width: 323.39px; /* this should be 100%, and then place .tile in a div */
border-radius:0%;
margin-left: auto;
margin-right: auto;
margin-top:0px;
margin-bottom: 30px;
z-index:1;
position: relative;
margin: relative;
}

.textbox {
	z-index:100;
	position:absolute;
	height: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;    
}

.heading {
	z-index:999;
	color:#fff;
	font-size:20px;
	font-weight:bold;
}

.headingblurb {
	z-index:0;
	color:#fff;
	font-size:20px;
	font-weight:bold;
}

.footer {
	position: relative;          
	background-color: white; 
	font-family: Century;
	min-height: 450px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	bottom: 0px;
	width: 100%;
}



.footer-pic {
	position: relative;          
	background-color: white; 
	font-family: Century;
	min-height: 25px;
	margin-top: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	bottom: 0px;
	width: 35px;
	height: 35px;
}

.footer-pic img {
	position: relative;
	width: 100px;
	height: 100px;
}


.footer-paragraph {
	position: relative;
	top: 80px;
   left: 0;
   right: 0;
   font-size: 18px;
font-style: normal; 
font-family: sans-serif;
text-align: left;
}

.social-icons {
		position: relative;          
		background-color: white; 
		min-height: 35px;
		margin-top: 50%;
		margin-left: 10px;
		margin-bottom: 0px;
		padding-bottom: 0px;
		align: center;
		bottom: 0px;
		width: 100%;
		height: 100%;
}

.icon {
	display: inline-block;
	position: relative;
	border-radius: 0%;
	align: center;
	float: left;
	padding: 12px 29px;
}

.icon img {
	position: relative;
	width: 55px;
	height: 55px;
	align: center;
}




.cpyrt h6 {
	position: fixed; 
   bottom: 8px;
   left: 0;
   right: 0;
   font-size: 12px;
	font-style: normal; 
	font-family: sans-serif;
	text-align: center;
	vertical-align: bottom;
}



	/* 
		Small devices Tablets 
		col-sm-12
	*/
	@media (min-width: 750px) {
		background-color: blue;
		font-size: 25px;

		.content {
			font-size: 47px;
		}

		.mini-header {
			margin: 0 0 0 27px;
			margin-top: 25px;
			color: #fff;
			text-align: center;
			font-size: 20px;
			opacity: .7;
			text-transform: none;
		}

/* JQUERY */ 


		    .menu {
        width:100%;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
    }

   /* JQERY */

/* is it not best practice to have hover on tablets? */






}





	/* 
		Medium devices Desktops  
		col-md-12
	*/
	@media (min-width: 970px) {
		background-color: yellow;
		font-size: 75px;

		#content {
			font-size: 70px;
		}











}
	/*
.panel {
	width: 7.1%;			/* this was 15% */
/*	height: 80px;	  /* this was 200px */
/*	margin: .2%;   /* this was 1.66% */
/*	float: left;
	color: green;
}

*/





	/* 
		Large devices Desktops  
		col-lg-12
	*/
	@media (min-width: 1170px) {
		background-color: white;
		font-size: 75px;

		#content {
			font-size: 70px;
		}


	}		
}




